/*
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
```````````````````````````````````````````````````````````````````````````````````````````````````````````
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶````````````````````````````````¶¶¶¶¶¶```
```¶¶¶¶¶`¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶¶```¶¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶`¶¶¶¶¶¶`````````````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶``¶¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
*/



@font-face {
font-family: 'fontf314af47000f1c3a895ed6829f3576c8';
    
    src:    url('https://nomail.com.ua/files/eot/f314af47000f1c3a895ed6829f3576c8.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/f314af47000f1c3a895ed6829f3576c8.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/f314af47000f1c3a895ed6829f3576c8.woff2') format('woff2');
}

@font-face { font-family: 'PFEncoreSansPro-Regular';  src: local('PFEncoreSansPro-Regular'), url('https://nomail.com.ua/files/woff/f314af47000f1c3a895ed6829f3576c8.woff') format('woff'); }




/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/


#pfencoresansproregular { font-family:'PFEncoreSansPro-Regular'; }
.fontf314af47000f1c3a895ed6829f3576c8 { font-family: 'fontf314af47000f1c3a895ed6829f3576c8'; }



    























    
    





